.wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: var(--top-z-index);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s ease;
  }

  &.show {
    .overlay {
      backdrop-filter: blur(3px);
    }
  }

  .modal {
    position: relative;
    padding: 24px 32px;
    color: var(--primary-ink);
    text-align: center;
    background-color: var(--secondary-color);
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 2px solid var(--primary-accent-color);
    border-radius: var(--primary-border-radius);

    strong {
      font-size: var(--header-font-size);
    }

    em {
      font-weight: bold;
      font-size: 120%;
    }
  }

  &.show {
    .modal {
      opacity: 1;
    }
  }
}

.btn {
  padding: 8px 16px;
  color: var(--primary-accent-ink);
  font-size: var(--secondary-font-size);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  opacity: 0.6;
  border: none;
  border-radius: var(--primary-border-radius);

  &:hover {
    opacity: 1;
  }
}
