.modal {
  position: fixed;
  font-size: var(--secondary-font-size);
  display: flex;
  z-index: var(--eleveted-z-index);
  top: var(--gap3);
  width: 600px;
  box-sizing: border-box;
  height: 500px;
  gap: var(--gap);
  color: var(--primary-ink);
  background-color: var(--primary-color);
  right: -100%;
  border: 1px solid var(--primary-border);
  border-right: none;
  transition: right 0.3s ease;
  overflow: hidden;
  border-top-left-radius: var(--primary-border-radius);
  border-bottom-left-radius: var(--primary-border-radius);

  &.show {
    right: 0;
  }
}

.modalContent {
  width: 100%;
}

.header {
  position: relative;
  padding: var(--gap) var(--gap) var(--gap) var(--gap3);
  background-color: var(--secondary-color);

  strong {
    font-size: var(--header-font-size);
  }

  .typeExplanation {
    display: flex;
    margin-top: calc(var(--gap) / 2);
    font-size: var(--primary-font-size);
    align-items: center;
    gap: calc(var(--gap) / 2);
  }
}

.content {
  padding: var(--gap);
  font-size: var(--primary-font-size);

  em {
    color: var(--primary-accent-ink)
  }

  .cargosWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--gap) / 2) 0;
    gap: calc(var(--gap) / 2);
  }
}


.closeBtn {
  position: absolute;
  border: none;
  padding: var(--gap);
  font-size: 150%;
  line-height: 110%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-accent-ink);

  &:hover {
    opacity: 1;
  }
}
