.wrapper {
  position: fixed;
  top: calc(var(--gap2) * 2);
  right: 18px;
  height: 500px;
  pointer-events: none;

  .modal {
    position: fixed;
    font-size: var(--secondary-font-size);
    display: flex;
    position: relative;
    z-index: 17;
    width: 600px;
    box-sizing: border-box;
    height: 100%;
    gap: var(--gap);
    color: var(--primary-ink);
    background-color: var(--primary-color);
    padding: 0 var(--gap);
    right: -100%;
    border: 1px solid var(--primary-border);
    border-right: none;
    transition: right 0.3s ease;
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
  }

  &.show {
    pointer-events: all;

    .modal {
      right: 0;
    }
  }
}

.content {
  padding: 0 var(--gap);
  width: 100%;
}

.closeBtn {
  position: absolute;
  border: none;
  padding: 8px 16px;
  font-size: 100%;
  margin-left: -20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-accent-ink);

  &:hover {
    opacity: 1;
  }
}
