.host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-family);
  border: 1px solid var(--primary-border);
  border-radius: var(--primary-border-radius);
}

.boardWrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--primary-color);
}

.board {
  position: absolute;
  margin: 0 auto;
  background-color: var(--primary-color);
  background-image: radial-gradient(circle, var(--primary-border) 1px, transparent 1.1px);
  border: 1px solid var(--primary-border);
  border-radius: var(--primary-border-radius);
}
