.game {}

.boardWrapper {
  width: 100%;
  height: 100%;
  max-height: 900px;
  overflow: auto;
  background-color: var(--background-color);
}

.board {
  position: relative;
  background-color: var(--background-color);
  background-image: radial-gradient(circle, var(--background-accent-color) 1px, transparent 1.1px);
  border: 1px solid var(--background-accent-color);
}
