.game {
  border-radius: var(--primary-border-radius);
  overflow: hidden;
}

.boardWrapper {
  width: 100%;
  height: 100%;
  max-height: 900px;
  overflow: auto;
  background-color: var(--primary-color);
}

.board {
  position: relative;
  background-color: var(--primary-color);
  background-image: radial-gradient(circle, var(--primary-border) 1px, transparent 1.1px);
  border: 1px solid var(--primary-border);
}
