.game {
  border-radius: var(--primary-border-radius);
  overflow: hidden;
}

.boardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--gap2) - 2px);
  overflow: auto;
  background-color: var(--primary-color);
}

.board {
  position: relative;
  margin: 0 auto;
  background-color: var(--primary-color);
  background-image: radial-gradient(circle, var(--primary-border) 1px, transparent 1.1px);
  border: 1px solid var(--primary-border);
  border-top: none;
}
