.host {
  --local-header-z-index: 3;
  --local-menu-z-index: 2;
  position: relative;
  display: flex;

  z-index: var(--eleveted-z-index);
  flex-direction: column;
}

.header {
  display: flex;
  z-index: var(--local-header-z-index);
  align-items: center;
  height: var(--gap2);
  padding: 0 var(--gap);
  color: var(--primary-ink);
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--primary-border);

  & > * {
    flex: 1;
  }

  .primary {
    display: flex;
    gap: var(--gap);
    align-items: center;
    height: 100%;

    .logo {
      width: calc(var(--gap) * 1.5);
      height: 100%;
      background: url('/assets/logo.png') center / contain no-repeat;
    }

    .counter {
      font-size: var(--secondary-font-size);
    }
  }

  .actions {
    display: flex;
    justify-content: center;
  }

  .stats {
    display: flex;
    gap: var(--gap);
    justify-content: flex-end;
    font-size: var(--tertiary-font-size);

    .counter {
      font-size: var(--secondary-font-size);
    }
  }
}

.editModeMenu {
  position: relative;
  display: flex;
  top: 0;
  z-index: var(--local-menu-z-index);
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  width: 55%;
  height: calc(var(--gap2) - 1px);
  margin: calc(var(--gap2) * -1) auto 0 auto;
  padding: 0 var(--gap);
  color: var(--primary-ink);
  background-color: var(--primary-color);
  transition: top 0.3s ease;
  border: 1px solid var(--primary-border);
  border-top: none;
  border-bottom-right-radius: var(--primary-border-radius);
  border-bottom-left-radius: var(--primary-border-radius);

  &.opened {
    top: var(--gap2);
  }
}

.btn {
  padding: 8px 16px;
  color: var(--primary-accent-ink);
  font-size: var(--secondary-font-size);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  opacity: 0.6;
  border: none;
  border-radius: var(--primary-border-radius);

  &.active,
  &:hover {
    opacity: 1;
  }

  &:disabled {
    color: var(--secondary-ink);
    background-color: var(--primary-color);
    cursor: not-allowed;
  }
}
