.line {
  .railSegment {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--main-z-index);
    padding: 0;
    background-image: repeating-linear-gradient(
      to right,
      var(--local-color) 0px,
      var(--local-color) 10px,
      transparent 5px,
      transparent 15px
    );
    box-shadow:
      0 0 10px var(--local-color),
      0 0 20px var(--local-color),
      0 0 30px var(--local-color);
    transform-origin: 0 50%;
    transition:
      box-shadow 0.2s ease,
      background-image 0.2s ease;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  &.hoverable {
    .railSegment::before {
      cursor: pointer;
    }
  }

  &.highLight {
    .railSegment {
      padding: 1px;
    }
  }
}
