.wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .modal {
    position: fixed;
    font-size: var(--secondary-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 17;
    width: 30%;
    gap: var(--gap);
    height: var(--gap2);
    margin: calc(var(--gap2) * -1) auto 0 auto;
    color: var(--primary-ink);
    background-color: var(--primary-color);
    top: -1px;
    border: 1px solid var(--primary-border);
    border-top: none;
    transition: top 0.3s ease;
    border-bottom-left-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
  }

  &.show {
    .modal {
      top: calc(var(--gap2) * 2);
    }
  }
}

.btn {
  border: none;
  border-radius: var(--primary-border-radius);
  padding: 8px 16px;
  font-size: var(--secondary-font-size);
  cursor: pointer;
  opacity: 0.6;
  background-color: var(--primary-accent-color);
  color: var(--primary-accent-ink);

  &:hover {
    opacity: 1;
  }
}
