.modal {
  position: fixed;
  display: flex;
  top: var(--gap3);
  right: -100%;
  z-index: var(--eleveted-z-index);
  gap: var(--gap);
  box-sizing: border-box;
  width: 600px;
  height: 500px;
  overflow: hidden;
  color: var(--primary-ink);
  font-size: var(--secondary-font-size);
  background-color: var(--primary-color);
  transition: right 0.3s ease;
  border: 1px solid var(--primary-border);
  border-right: none;
  border-top-left-radius: var(--primary-border-radius);
  border-bottom-left-radius: var(--primary-border-radius);

  &.show {
    right: 0;
  }
}

.modalContent {
  width: 100%;
}

.header {
  position: relative;
  padding: var(--gap) var(--gap) var(--gap) var(--gap3);
  background-color: var(--secondary-color);
  transition: background-color 2s ease;

  &.emergency {
    background-color: var(--primary-alert-color);
  }

  strong {
    font-size: var(--header-font-size);
  }

  .typeExplanation {
    display: flex;
    gap: calc(var(--gap) / 2);
    align-items: center;
    margin-top: calc(var(--gap) / 2);
    font-size: var(--primary-font-size);
  }
}

.content {
  padding: var(--gap);
  font-size: var(--primary-font-size);

  em {
    color: var(--primary-accent-ink);
  }

  .cargosWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) / 2);
    margin: calc(var(--gap) / 2) 0;
  }
}

.closeBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--gap);
  color: var(--primary-accent-ink);
  font-size: 150%;
  line-height: 110%;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 1;
  }
}
