.boardAnchor {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  will-change: transform;
}

.cartShape {
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background-color: var(--local-color);
  box-shadow: 0 0 15px var(--local-color);
}

.cargoShapeCart {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 4px;
  height: 4px;
  background: green;
}

.circle {
  border-radius: 9999px;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
