.cartAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: translate(-10000px, -10000px);
  will-change: transform;
  z-index: var(--main-z-index);
}

.cartWrapper {
  --local-size: 16px;

  position: absolute;
  top: calc(var(--local-size) * -1/2);
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform;
  transform: scale(1) translateX(-50%);
  transform-origin: 50% calc(var(--local-size) * 1/2);
  transition: transform 0.2s ease;

  &.highlighted {
    transform: scale(2) translateX(calc(var(--local-size) * -1/4));
  }

  &.hoverable {
    &:hover {
      transform: scale(2) translateX(calc(var(--local-size) * -1/4));
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(var(--local-size) * -1/2);
      top: calc(var(--local-size) * -1/2);
      width: calc(var(--local-size) * 2);
      height: calc(var(--local-size) * 2);
      cursor: pointer;
    }
  }


  .cartBody {
    width: var(--local-size);
    height: var(--local-size);
    border-radius: 100rem;
    background-color: var(--local-color);
    box-shadow: 0 0 var(--local-size) var(--local-color);
    flex-shrink: 0;
  }

  .cargosWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 22px;
    justify-content: center;
    margin-top: 5px;
    flex-shrink: 0;
  }
}
