.boardAnchor {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transform: translate(-100px, -100px);
  will-change: transform;
  z-index: var(--main-z-index);
}

.cartShape {
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background-color: var(--local-color);
  box-shadow: 0 0 15px var(--local-color);
  transition: transform 0.2s ease;

  &.highlighted {
    transform: scale(2);
  }

  &.hoverable {
    &:hover {
      transform: scale(2);
    }

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: -15px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}

.cargoShapeCart {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 4px;
  height: 4px;
  background: red;
}

.circle {
  border-radius: 9999px;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
