.boardAnchor {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  will-change: transform;
  z-index: var(--main-z-index);
}

.stationShape {
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  background: blue;
  transition: transform 0.2s ease;

  &.editMode {
    cursor: pointer;
    transform: scale(2);
  }
}

.cargoShapeStation {
  position: absolute;
  left: -3px;
  top: -3px;
  width: 6px;
  height: 6px;
  background: red;
}

.circle {
  border-radius: 9999px;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
