.stationAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  will-change: transform;
  z-index: var(--main-z-index);
}

.stationWrapper {
  --local-size: 24px;
  --local-color: blue;

  position: absolute;
  top: calc(var(--local-size) * -1);
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform;
  transform: scale(1) translateX(-50%);
  transform-origin: 0 calc(var(--local-size) * 1/2);
  transition: transform 0.2s ease;

  &.highlighted {
    transform: scale(1.2) translateX(-50%);
  }

  &.hoverable {
    &:hover {
      transform: scale(1.2) translateX(-50%);
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(var(--local-size) * -1/2);
      top: calc(var(--local-size) * -1/2);
      width: calc(var(--local-size) * 2);
      height: calc(var(--local-size) * 2);
      cursor: pointer;
    }
  }

  .stationBody {
    width: var(--local-size);
    height: var(--local-size);
    flex-shrink: 0;
    padding: calc(var(--gap) / 2);
    border: 1px solid var(--primary-border);
    border-radius: var(--primary-border-radius);
    background: var(--primary-accent-color) center / 80% no-repeat url('/assets/station.png');
  }

  &.cargoTypeReact .stationBody {
    background-image: url('/assets/react.png');
  }

  &.cargoTypeDB .stationBody {
    background-image: url('/assets/postgres.png');
  }

  &.cargoTypeGateway .stationBody {
    background-image: url('/assets/gateway.png');
  }

  &.cargoTypeRedis .stationBody {
    background-image: url('/assets/redis.png');
  }

  .cargosWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100rem;
    max-width: calc(var(--gap) * 4);
    justify-content: center;
    margin-top: calc(var(--gap) / 4);
    flex-shrink: 0;
  }
}
