.stationAnchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  will-change: transform;
  z-index: var(--main-z-index);
}

.stationWrapper {
  --local-size: 24px;

  position: absolute;
  top: calc(var(--local-size) * -1);
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform;
  transform: scale(1) translateX(-50%);
  transform-origin: 0 calc(var(--local-size) * 1/2);
  transition: transform 0.2s ease;

  &.highlighted {
    transform: scale(1.2) translateX(-50%);
  }

  &.hoverable {
    cursor: pointer;

    &:hover {
      transform: scale(1.2) translateX(-50%);
    }
  }

  .stationBody {
    position: relative;
    width: var(--local-size);
    height: var(--local-size);
    flex-shrink: 0;
    padding: calc(var(--gap) / 2);
    border: 1px solid var(--primary-border);
    border-radius: var(--primary-border-radius);
    background: var(--primary-accent-color) center / 80% no-repeat;
    transition: background-color 2s ease;

    /* flames */
    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% - var(--local-size) * 2);
      left: -58%;
      width: 100px;
      height: 120px;
      background: url('/assets/flames.png') center / contain no-repeat;
      pointer-events: none;
      opacity: 0;
      transition: opacity 2s ease;
    }
  }

  &.emergency .stationBody {
    background-color: var(--primary-alert-color);

    &::before {
      opacity: 0.15;
    }
  }

  &.cargoTypeReact .stationBody {
    background-image: url('/assets/react.png');
  }

  &.cargoTypeDB .stationBody {
    background-image: url('/assets/postgres.png');
  }

  &.cargoTypeGateway .stationBody {
    background-image: url('/assets/gateway.png');
  }

  &.cargoTypeRedis .stationBody {
    background-image: url('/assets/redis.png');
  }

  .cargosWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100rem;
    max-width: calc(var(--gap) * 4);
    justify-content: center;
    margin-top: calc(var(--gap) / 4);
    flex-shrink: 0;
  }
}
