.gameVars {
  --primary-color: #0f111a;
  --primary-accent-color: #3b2457;
  --primary-alert-color: #f14f00;
  --secondary-color: #181621;
  --primary-ink: #e5e5e6;
  --primary-accent-ink: #bc96e9;
  --secondary-ink: #868592;
  --primary-border: #2c2e36;

  --line-color--1: #ffffff;
  --line-color-0: #ff0000;
  --line-color-1: #0000ff;
  --line-color-2: #008000;
  --line-color-3: #ffff00;
  --line-color-4: #800080;
  --line-color-5: #ffa500;
  --line-color-6: #ffc0cb;
  --line-color-7: #00ffff;
  --line-color-8: #ff00ff;
  --line-color-9: #00ff00;

  --gap: 24px;
  --gap2: calc(var(--gap) * 2);
  --gap3: calc(var(--gap) * 3);

  --header-font-size: 18px;
  --primary-font-size: 16px;
  --secondary-font-size: 14px;
  --tertiary-font-size: 12px;

  --primary-border-radius: 8px;

  --ground-z-index: 1;
  --main-z-index: 10;
  --eleveted-z-index: 30;
  --top-z-index: 50;
}
