:root {
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #0f111a;
  --primary-accent-color: #3B2457;
  --secondary-color: #181621;
  --primary-ink: #E5E5E6;
  --primary-accent-ink: #BC96E9;
  --secondary-ink: #868592;
  --primary-border: #2C2E36;

  --line-color--1: #FFFFFF;
  --line-color-0: #FF0000;
  --line-color-1: #0000FF;
  --line-color-2: #008000;
  --line-color-3: #FFFF00;
  --line-color-4: #800080;
  --line-color-5: #FFA500;
  --line-color-6: #FFC0CB;
  --line-color-7: #00FFFF;
  --line-color-8: #FF00FF;
  --line-color-9: #00FF00;

  --gap: 24px;
  --gap2: calc(var(--gap) * 2);
  --gap3: calc(var(--gap) * 3);

  --header-font-size: 18px;
  --primary-font-size: 16px;
  --secondary-font-size: 14px;
  --tertiary-font-size: 12px;

  --primary-border-radius: 8px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: var(--primary-font-size);
  background-color: var(--secondary-color);
}
